.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
}

.file-list {
  margin-top: 20px;
}

mat-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-size {
  font-size: 0.8rem;
  color: gray;
}

button {
  min-width: 80px;
}
